<div>
	<%= @user.username %>'s Friends:
</div>

<div>
	<% @user.friends.each do |f| %>
		<p><%= f.username %>
		<%= link_to "View Profile", profile_path(f.username), class: "btn" %>
		</p>
	<% end %>	
</div>